/* _content/site_da_escola/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zk84rfqlwk] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zk84rfqlwk] {
  color: #0077cc;
}

.btn-primary[b-zk84rfqlwk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zk84rfqlwk], .nav-pills .show > .nav-link[b-zk84rfqlwk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zk84rfqlwk] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zk84rfqlwk] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zk84rfqlwk] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zk84rfqlwk] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zk84rfqlwk] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/site_da_escola/Views/Shared/_LayoutAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5fw46yrgt8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5fw46yrgt8] {
  color: #0077cc;
}

.btn-primary[b-5fw46yrgt8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5fw46yrgt8], .nav-pills .show > .nav-link[b-5fw46yrgt8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5fw46yrgt8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5fw46yrgt8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5fw46yrgt8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5fw46yrgt8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5fw46yrgt8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/site_da_escola/Views/Shared/_LayoutUsuario.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-furdldaqqp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-furdldaqqp] {
  color: #0077cc;
}

.btn-primary[b-furdldaqqp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-furdldaqqp], .nav-pills .show > .nav-link[b-furdldaqqp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-furdldaqqp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-furdldaqqp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-furdldaqqp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-furdldaqqp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-furdldaqqp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
